<%- include("partials/header.ejs") %>

<h1>Post</h1>

<ul>
    <li>
        <strong>First name:</strong> <%= post.title %><br>
        <strong>Last name:</strong> <%= post.description %><br>
    </li>
</ul>

<%- include("partials/footer.ejs") %>
